<div class="container-fluid layout5 p-md-5 bg-dark">
    <div class="container bg-light py-5">
        <div class="row">
            <div class="col-12 text-center heading">
                <h1 contenteditable="true" class="cvmaker-editable  mx-3" id="name"></h1>
            </div>
        </div>
        <div class="row mb-3 mt-2 ">
            <div class="col-12 text-center subheading">
                <h3 contenteditable="true" class="cvmaker-editable" id="current_designation"></h3>
            </div>
        </div>
        <div class="row px-2 px-md-5 py-2">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 about-heading">
                        <h3>ABOUT</h3>
                    </div>
                    <div class="col-12">
                        <div class="about-content">
                            <p contenteditable="true" class="cvmaker-editable" id="about"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 contact-heading">
                <div class="row">
                    <div class="col-12">
                        <h3>CONTACT</h3>
                    </div>
                    <div class="col-12">
                        <div class="contact-content">
                            <ul>
                                <li contenteditable="true" class="cvmaker-editable" id="address"></li>
                                <li contenteditable="true" class="cvmaker-editable" id="phone_number"></li>
                                <li contenteditable="true" class="cvmaker-editable" id="email"></li>
                                <li contenteditable="true" class="cvmaker-editable" id="social_Link"></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row px-2 px-md-5 pt-2">
            <div class="col-12 col-md-6 experience-heading">
                <h3>EXPERIENCE</h3>
                <span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="row px-2 px-md-5 pb-2 experience-content" id="experience">
        </div>
        <div class="row px-2 px-md-5 py-2">
            <div class="col-12 col-md-6">
                <div class="row py-2">
                    <div class="col-12 qualifications-heading">
                        <h3>QUALIFICATIONS</h3>
                        <span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-12">
                        <div class="qualifications-content" id='qualifications'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row py-2">
                    <div class="col-12  skills-heading">
                        <h3>SKILLS</h3>
                        <span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-12 skills-content">
                        <ul class='mb-0 pt-2' id="skills">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-2 px-md-5 py-2">
            <div class="col-12 col-md-6">
                <div class="row py-2">
                    <div class="col-12 awards-heading">
                        <h3>AWARDS</h3><span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-12">
                        <div class="awards-content">
                            <ul id='awards'>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row py-2">
                    <div class="col-12 education-heading">
                        <h3>EDUCATION</h3><span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-12 education-content">
                        <ul id="education">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>