<div class="container-fluid">
    <div></div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="col-12 mb-4">
                <button type="button" class="cvmaker-btn btn btn-light rounded w-100" onclick="keepCurrentProgress()">Keep Current Progress</button>
            </div>
            <div class="col-12 mb-4" id="thisSession">

            </div>
        </div>
        <div class="col-12 col-md-6 ">
            <div class="col-12 mb-4">
                <button type="button" class="cvmaker-danger-btn btn btn-light rounded w-100" data-dismiss="modal" onclick="loadPreviousSession()">Load Previous Session</button>
            </div>
            <div class="col-12 mb-4" id="oldSession">
            </div>
        </div>
    </div>

</div>