<div class="container-fluid landing-container">
    <div class="jumbotron landing-jumbotron">
        <div class="row ">

            <div class="col-sm-8 col-md-4 col-lg-4 text-light ml-auto mr-3">
                <h1>Create a standout resume in minutes</h1>
                <p>Easily create professional resumes, online portfolios and personal landing pages</p>
                <input class="btn text-light cvmaker-background" type="button" value="Create a CV" onclick="showSelectTemplate()">
            </div>
        </div>
    </div>

</div>