<div class="container">
        <div class="row border-dark">
            <div class="col-12 text-center pt-3">
                <h2>Register</h2>
            </div>
            <div class="col-12">
                <div class="text-center ">
                        <form action="javascript:void(0)">
                    <input type="email" class="cvmaker-border rounded col-12 col-md-6 mb-4" placeholder="Email" required="required" id="userEmail" />
    
                    <input type="password" class="cvmaker-border rounded col-12 col-md-6 mb-4" placeholder="Password" required="required" id="userPassword"
                    />
                    <div id="register-error">
    
                    </div>
                    <button class="cvmaker-btn btn btn-light rounded col-12 col-md-6 mb-4" type="submit" onclick="handleRegister()">Register
                    </button>
                    <p>Alredy have an account? <a href="javascript:showLoginForm()" class="link">Login here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    