<div class="container">
    <div class="row ">
        <div class="col-12 text-center pt-3">
            <h2>Set Password</h2>
        </div>
        <div class="col-12">
            <div class="text-center ">
                    <form action="javascript:void(0)">
                <input type="password" class="cvmaker-border rounded col-12 col-md-6 mb-4" placeholder="Set New Password" required="required"
                    id="newPassword" />

                <div id="reset-error">

                </div>
                <button class="cvmaker-btn btn btn-light rounded col-12 col-md-6 mb-4" type="submit" onclick="handlePasswordReset()">Set Password</button>
            </form>
            </div>
        </div>
    </div>
</div>