<div class="container" id="selectLayout">
    <div class="row">
        <div class="col text-center py-4">
            <p class="h1 border-bottom">Select Template</p>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-12 col-sm-12 col-md-6 layout-card mb-4  text-center " onclick="setLayout('template1')">
            <div class="bg-primary template">
                <img src="./images/templates/template1.png" alt="template1">
            </div>

        </div> -->
        <div class="col-12 col-sm-12 col-md-6 layout-card mb-4  text-center " onclick="setLayout('template2')">
            <div class="bg-dark template">
                <img src="./images/templates/template2.png" alt="template2">
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 layout-card mb-4  text-center" onclick="setLayout('template3')">
            <div class="bg-danger  template">
                <img src="./images/templates/template3.png" alt="template3">
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 layout-card mb-4  text-center " onclick="setLayout('template4')">
            <div class="bg-warning  template">
                <img src="./images/templates/template4.png" alt="template4">
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 layout-card mb-4  text-center " onclick="setLayout('template5')">
            <div class="bg-success  template">

                <img src="./images/templates/template5.png" alt="template5">
            </div>

        </div>

    </div>
</div>