
    <div class="template4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center heading display-picture">
                    <input type="file" id="imgupload" style="display:none" />
                    <img src=".\images\userDummy\temp3-1.png" alt="display-picture" id="display-picture" height="350px" width="100%">
                    <h1 class="hello px-2">HELLO</h1>
                    <span class="p-2"><h1>I'M </h1><h1 contenteditable="true" class="cvmaker-editable" id="name"></h1></span>
                </div>

            </div>
            <div class="row">
                <div class="col-6 mr-4">
                    <div class="row p-3">
                        <!--about -->
                        <div class="col-12 about-heading">
                            <h3>ABOUT ME</h3>
                        </div>
                        <div class="col-12">
                            <div class="about-content">
                                <p contenteditable="true" class="cvmaker-editable" id="about">
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="row p-3 pl-4 ">
                        <!-- picture -->
                        <img src=".\images\userDummy\temp3-2.png" alt="display-picture"  height="220px" width="80%">

                    </div>


                    <div class="row p-3">
                        <!-- achievements -->
                        <div class="col-12 awards-heading">
                            <h3>ACHIEVEMENTS</h3><span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-12">
                            <div class="awards-content">
                                <ul id='awards'>
                                    <!-- <li class="py-2">
                                        <label contenteditable="true" class="mb-0 font-weight-bold cvmaker-editable award_detail"> BEST FITNESS TRAINER , </label>
                                        <label contenteditable="true" class="mb-0 font-weight-bold cvmaker-editable year">2017</label>
                                        <div id='course' contenteditable="true" class="cvmaker-editable organization"> Anytime Fitness</div>
                                        <span id='remove-1' onclick='deletePoint(this)'><i class="fa fa-minus-circle noPrint" aria-hidden="true"></i></span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 ">
                    <div class="row p-3">
                        <!-- skills -->
                        <div class="col-12 skills-heading">
                            <h3>EXPERTISE</h3>
                            <span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-12 skills-content">
                            <ul class='mb-0 pt-2' id="skills">
                                <!-- <li><label contenteditable="true" class="cvmaker-editable skill">css</label>
                                    <span id='remove-1' onclick='deletePoint(this)'><i class="fa fa-minus-circle noPrint" aria-hidden="true"></i></span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="row p-3">
                        <!-- experience -->
                        <div class="col-12 experience-heading">
                            <h3>EXPERIENCE</h3>
                            <span id='add' onclick="addPoint(this)"><i class="fa fa-plus-circle noPrint" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-12">
                            <div class="row experience-content" id="experience">
                                <!-- <div class="col-12 py-2">
                                    <h5><span id='designation' contenteditable="true" class="cvmaker-editable designation">YOGA INSTRUCTOR</span></h5>
                                    <span id='remove' onclick='deletePoint(this)'><i class="fa fa-minus-circle noPrint" aria-hidden="true"></i></span>

                                    <h6><span id='company' contenteditable="true" class="cvmaker-editable organization">Anytime Fitness</span>
                                        <span id='work_duration' contenteditable="true" class="cvmaker-editable work_duration">(2011-present)</span></h6>
                                </div>
                                 -->
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 p-3">
                        <!-- photo -->
                        <img src=".\images\userDummy\temp3-3.png" alt="display-picture"  height="190px" width="90%">
                    </div>
                </div>
            </div>


            <div class="row p-3 footerRow">
                <div class="col-4 text-center">
                    <span contenteditable="true" class="cvmaker-editable" id="phone_number"></span>
                </div>
                <div class="col-4 text-center">
                    <span contenteditable="true" class="cvmaker-editable" id="email"></span>
                </div>
                <div class="col-4 text-center">
                    <span contenteditable="true" class="cvmaker-editable" id="social_Link"></span>
                </div>
            </div>

        </div>


    </div>
