<div class='template3 mb-5'>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="display-picture m-4 ">
                    <input type="file" id="imgupload" style="display:none" />
                    <img src="./images/userDummy/meghan_richard.jpg" alt="display-picture" id ="display-picture" height="500px" width="600px">
                <div class="layout3-left-top">
                    <p contenteditable="true" class="cvmaker-editable" id="name"></p>
                </div>
                <div class="contact-content ">
                    <ul style="list-style: none;">
                        <li contenteditable="true" class="cvmaker-editable" id="phone_number"></li>
                        /
                        <li contenteditable="true" class="cvmaker-editable" id="email"></li>
                        <span class="slash">
                        </span>
                        <li contenteditable="true" class="cvmaker-editable" id="social_Link"></li>
                    </ul>
                </div>
                <!-- <div id="top-right" contenteditable="true" class="cvmaker-editable">FREELANCE GRAPHIC DESIGNER</div> -->
                <div class="col-12 layout3-right-top">
                    <p contenteditable="true" class="cvmaker-editable" id="current_designation"></p>
                </div>
            </div>

        </div>

        <div class="row px-2  py-2">
            <div class="col-5 mx-4">
                <div class="col-12 skills-heading">
                    <h3>SKILLS</h3>
                    <span id='add' onclick="addPoint(this)">
                        <i class="fa fa-plus-circle noPrint" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-12 skills-content">
                    <ul class='mb-0 pt-2' id="skills">
                    </ul>
                </div>

            </div>
            <div class="col-5">
                <div class="col-12 experience-heading">
                    <h3>WORK EXPERIENCE</h3>
                    <span id='add' onclick="addPoint(this)">
                        <i class="fa fa-plus-circle noPrint" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-12">
                    <div class="row experience-content" id='experience'>
                        <!-- <div class="col-12">
                                    <h5>
                                        <span id='designation' contenteditable="true" class="cvmaker-editable designation"></span>
                                    </h5>
                                    <span id='remove' onclick='deletePoint(this)'>
                                        <i class="fa fa-minus-circle noPrint" aria-hidden="true"></i>
                                    </span>
    
                                    <h6>
                                        <span id='company' contenteditable="true" class="cvmaker-editable organization"></span>
                                    </h6>
    
                                </div> -->

                    </div>
                </div>

            </div>
        </div>
    </div>
   

</div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 673.1435460639354 50.00000000000001"
enable-background="new 0 0 591.932 50" xml:space="preserve" class="horizontalOnly" style="position: absolute;margin-top:37%">
<defs>
    <g id="CANVA3_">
        <g class="repeat">
            <g>
                <path fill="#ff5d6a" d="M0,50L19.244,0h4.689L4.627,50H0z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M23.669,50L42.907,0h4.694L28.285,50H23.669z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M47.332,50L66.577,0h4.694L51.954,50H47.332z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M71.002,50L90.24,0h4.689L75.623,50H71.002z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M94.665,50l19.244-50h4.689L99.292,50H94.665z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M118.334,50l19.239-50h4.694l-19.312,50H118.334z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M141.998,50l19.244-50h4.694l-19.312,50H141.998z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M165.667,50l19.238-50h4.695l-19.312,50H165.667z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M189.331,50l19.244-50h4.688l-19.307,50H189.331z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M213,50l19.244-50h4.688l-19.307,50H213z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M236.663,50l19.238-50h4.695l-19.312,50H236.663z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M260.332,50l19.239-50h4.694l-19.312,50H260.332z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M284.002,50L303.24,0h4.688l-19.307,50H284.002z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M307.659,50l19.25-50h4.689l-19.308,50H307.659z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M331.329,50l19.238-50h4.694L335.95,50H331.329z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M354.998,50l19.238-50h4.694l-19.312,50H354.998z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M378.667,50l19.238-50h4.694l-19.312,50H378.667z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M402.325,50l19.244-50h4.688l-19.307,50H402.325z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M425.994,50l19.244-50h4.688L430.62,50H425.994z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M449.663,50l19.238-50h4.694l-19.312,50H449.663z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M473.326,50L492.57,0h4.695l-19.312,50H473.326z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M496.996,50l19.238-50h4.688l-19.307,50H496.996z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M520.659,50l19.244-50h4.689l-19.308,50H520.659z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M544.328,50l19.239-50h4.694L548.95,50H544.328z" class="color color-1" data-color="#134853"></path>
                <path fill="#ff5d6a" d="M567.992,50l19.244-50h4.694l-19.312,50H567.992z" class="color color-1" data-color="#134853"></path>
            </g>
        </g>
    </g>
    <clipPath id="CANVA2_">
        <rect width="673.1435460639354" height="50" x="0" y="0"></rect>
    </clipPath>
</defs>
<g id="n" class="canva tiled" clip-path="url(#CANVA2_)" transform="translate(0, 1)">

    <rect width="591.932" height="50" class="canva dimensions" display="none" pointer-events="none"></rect>
    <rect width="673.1435460639354" height="50" x="0" y="0" class="repeat" visibility="hidden" pointer-events="none"></rect>
    <use xlink:href="#CANVA3_" transform="translate(0,0)"></use>
    <use xlink:href="#CANVA3_" transform="translate(591.432,0)"></use>
</g>
<g id="ne" transform="translate(80.21154606393543, 1) scale(1, 1)">
</g>
<g id="nw" transform="translate(1, 1) scale(1, 1)">
</g>
</svg>
